@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
:root {
  --container-width: 600px;
  --font-size: 13rem;
  --letter-spacing: 5px;
  --font-weight: 800;
  --font-family: "Bebas Neue";
  --animation-duration: 2000ms;
  --animation-iteration-count: infinite;
  --animation-timing-function: ease;
  --text-shadow-offset: 8px;
  --text-shadow-color: #0e0225;
  --background-color: linear-gradient(to right, #41B6E6 0%, #DB3EB1 100%);
  --icon-size: 8px;
  --icon-animation-duration: 2000ms;
  --icon-animation-iteration-count: infinite;
  --icon-animation-timing-function: ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icons {
  display: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  overflow: hidden;
  z-index: 0;
}

.container {
  position: relative;
  width: var(--container-width);
  height: var(--container-width);
}
.container .text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .text-container .text {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  display: flex;
  letter-spacing: var(--letter-spacing);
}
.container .text-container .text .char-container {
  position: relative;
  animation-name: tilt-up-down;
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
  animation-timing-function: var(--animation-timing-function);
  animation-delay: var(--animation-delay);
  z-index: 10;
  pointer-events: none;
  user-select: none;
  text-shadow: var(--text-shadow-offset) var(--text-shadow-offset) var(--text-shadow-color);
}
.container .text-container .text .char-container svg.icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: #fff;
  stroke: var(--text-shadow-color);
  stroke-width: 25px;
  transform: translate(-50%, -50%);
  animation-name: scale-up-down;
  animation-duration: var(--icon-animation-duration);
  animation-iteration-count: var(--icon-animation-iteration-count);
  animation-timing-function: var(--icon-animation-timing-function);
  animation-delay: var(--icon-animation-delay);
}
.container .text-container .text .char-container:nth-child(1) svg.icon {
  left: 20px;
  top: 22px;
}
.container .text-container .text .char-container:nth-child(3) svg.icon {
  left: 4px;
  top: 50px;
}
.container .text-container .text .char-container:nth-child(5) svg.icon {
  left: 35px;
  top: 23px;
}
.container .text-container .text .char-container:nth-child(7) svg.icon {
  left: 40px;
  top: 100px;
}
.container .text-container .text .char-container:nth-child(9) svg.icon {
  left: 35px;
  top: 23px;
}

@keyframes tilt-up-down {
  0%,
	100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-35%) rotate(-12deg);
  }
}
@keyframes scale-up-down {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(180deg);
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
  z-index: 100;
}
.support a {
  margin: 0 5px;
  color: #222;
  font-size: 2.1rem;
  backface-visibility: hidden;
  transition: all 350ms cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
.support a:hover {
  transform: scale(1.1);
}
